<header>
    <div class="container">
        <div class="row">
            <div class="header-title">
                <div class="title" style="width: 160px">
                    <!-- <a href="http://pb.com" target="_blank" class="pb-header-mark"></a>
                    <label>pitney bowes</label> -->
                    <img src="images/PB Logo.png" style="width: 100%;">
                </div>
                <div class="userIcons pull-right">
                    <a href="" class="loginBtn">SIGNUP \ LOGIN</a>
                    <a href="" class="socialIcon">
                        <img src="images/1-FB.png">
                    </a>
                    <a href="" class="socialIcon">
                        <img src="images/2-gplus.png">
                    </a>
                    <a href="" class="socialIcon">
                        <img src="images/3-Twitter.png">
                    </a>
                    <a href="" class="socialIcon">
                        <img src="images/4-Linkdin.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="row surveyVideo">
            <div class="displayFlex" style="justify-content: center;">
                <h1 class="pb-underline" style="color: #f0f0f0;margin-top: 0">
                    Pitney Bowes SMB Application Assessment Survey
                </h1>
            </div>
            <div class="col-md-12 video" style="padding: 0;" ng-if="startSurvey">
                <!-- <div class="videoContainer">
                    <iframe src="https://preprod.rtcvid.net/smbsurvey/embed-iframe.php"></iframe>
                </div> -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://preprod.rtcvid.net/smbsurvey/embed-iframe.php"></iframe>
                  </div>

            </div>
            <div class="col-md-12" ng-show="!startSurvey">
                <div class="startSurvey">
                    <!-- <div class="surveyContainer">
                        <div class="icon">
                            <div class="imgBox">
                                <img src="images/list.png">
                            </div> 
                        </div>
                        <div class="info">
                            <h4 style="margin-bottom: 30px;">Help us in getting your feedback on some of the applications we believe are most useful for your business.</h4>

                            <h4>Complete This Survey for A Chance to Win</h4>
                            <span style="font-size: 25px;"> <img src="images/trophy.png" style="width: 40px;margin-right: 15px;"> $500 Cash</span>
                            <div>
                                <a href="javascript:void(0)" ng-click="initSurvey()" class="magenta-btn">Start Interactive Survey</a>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-4" style="z-index: 1">
                        <div class="icon">
                            <div class="imgBox">
                                <img src="images/list.png" style="width: 100%;">
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-right-1" style="z-index: 1">
                        <div class="info">
                            <div>
                                <h4 style="margin-bottom: 30px;">Help us in getting your feedback on some of the applications we believe are most useful for your business.</h4>

                                <h4>Complete This Survey for A Chance to Win</h4>
                                <span style="font-size: 25px;"> <img src="images/trophy.png" style="width: 40px;margin-right: 15px;"> $500 Cash</span>
                                <div>
                                    <a href="javascript:void(0)" ng-click="initSurvey()" class="magenta-btn">Start Interactive Survey</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section style="position: relative">
    <div class="container">
       <div class="sourcedText">
        <div class="displayFlex">
            <h2 class="pb-underline magenta-text">
                The Context
            </h2>
        </div>
        <div class="surveyBox">
            <p>
                We Launched a SMB challenge in Oct 2017 to bring in Global Developer community to create solutions for
                our
            </p>
            <p class="bold">
                1Mn+ Small and Medium Business Customers like you.
            </p>
            <br>
            <h4 style="color: #3e53a4;" align="left">We sourced solution from</h4>
            <ul style="list-style: none;text-align: center;padding: 0">
                <li>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imgDiv">
                                <img src="images/Developer icon.png" height="50%" width="50%"/>
                            </div>
                        </div>
                        <div class="col-md-8 imgInfo"><span
                                class="highlightText">2000</span> global
                            developers
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imgDiv">
                                <img src="images/partner icon.png" height="50%" width="50%"/>
                            </div>
                        </div>
                        <div class="col-md-8 imgInfo" ><span
                                class="highlightText">12</span> Partners
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imgDiv" >
                                <img src="images/Apps icon.png" height="50%" width="50%"/>
                            </div>
                        </div>
                        <div class="col-md-8 imgInfo"><span
                                class="highlightText">75+</span> Apps
                        </div>
                    </div>
                </li>
            </ul>
            <br>
            <p>
                Today, we need your help in getting feedback on top applications sourced. By participating in this short
                survey, you also get a chance to win $500
            </p>
           <br>
            <a href="javascript:void(0)" ng-click="scrollTop();" class="magenta-btn">Take me to the Survey</a>
       </div>
    </div> 
    </div>

    
    <section id="context">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7">
                    <div class='carousalContainer'>
                        <div class='contextCarousal'>
                            <div><img src="images/address validation mgt.png" class="img-responsive"></div>
                            <div><img src="images/shipping companion.png" class="img-responsive"></div>
                            <div><img src="images/tracko.png" class="img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="sourced">
            <div class="image">
                <img src="images/Layer 52.png" class="img-fluid" style="max-width: 100%;height:auto"/>
            </div>
        </div>
    </section>
</section>
<section id="solution">
    <div class="container">
        <div class="solutionContent">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 align="center" style="color:#3e53a4">Solutions were created using technology from Pitney
                                Bowes other 20+ SMB focused companies</h4>
                            <h4 align="center" style="color:#3e53a4">
                                to reduce your business complexity in the areas of:
                            </h4>
                            <br>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <div class="imgDiv">
                                        <img src="images/Shipping and mailing icon.png" style="width: 50%; height: 25%"
                                        />
                                    </div>
                                </div>
                                <div class="catName">Shipping & Mailing</div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <div class="imgDiv">
                                        <img src="images/Ecommerece icon.png" style="height: 83%;width: 69%;"
                                        />
                                    </div>
                                </div>
                                <div class="catName">Ecommerce
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <div class="imgDiv">
                                        <img src="images/Marketing icon.png"/>
                                    </div>
                                </div>
                                <div class="catName">Marketing
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <div class="imgDiv">
                                        <img src="images/Productivity icon.png"/>
                                    </div>
                                </div>
                                <div class="catName">Productivity
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="circle">
                                    <div class="imgDiv">
                                        <img src="images/Manymore. icon.png"/>
                                    </div>
                                </div>
                                <div class="catName">and many more..
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<section id="takeToSurvey">
    <div class="container">
        <div class="takeToSurveyContent">
            <div class="row">
                <div class="col-md-8">
                    <h4>We'll greatly appreciate your opinion and feedback on</h4>
                    <h4><span class="highlightText">top 15 solutions</span></h4>
                    <br>
                    <div>
                        <h4>Please complete our survey</h4>
                        <h4><span class="highlightText">And winner get $500</span></h4>
                    </div>
                </div>

                <a href="javascript:void(0)" class="magenta-btn" ng-click="scrollTop();">Take me to the survey</a>

            </div>

        </div>
    </div>
</section>
<!--
<section id="sourcedSolution">
    <div class="container">
        <div class="row">
            <div class="imgBackground">
                <img src="images/Banner Image.png">
            </div>
        </div>
    </div>
</section>
-->

<section id="pbSMBHackathon">

    <div class="displayFlex flex-center">
        <h2 class="pb-underline magenta-text">
            PB SMB Challenge - Selected Apps
        </h2>
    </div>
    <div class='container-fluid'>
        <div class='carousalContainer'>
            <div class='single-item2'>
                <div><img src="images/1.jpg" class="img-responsive"></div>
                <div><img src="images/2.jpg" class="img-responsive"></div>
                <div><img src="images/3.jpg" class="img-responsive"></div>
                <div><img src="images/5.jpg" class="img-responsive"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.searchnship.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/6_Search n ship.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Search n Ship</h4>
                                <p>Easy, Quick Ship via nearby shippers</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Shipping & Mailing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.parcinsure.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/5_Parcinsue.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Parcinsure</h4>
                                <p>Risk Management and Loss Prevention of Shipment</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Shipping & Mailing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.shippingcompanion.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/6_Search_ship.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Shipping Companion</h4>
                                <p>Shipping Companion allows SMBs such as online stores and small
                                    hyperlocal food delivery businesses to track their shipment status
                                    in...</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Shipping & Mailing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.ravendelivery.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/11.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Raven Delivery</h4>
                                <p>'Raven Delivery' is an on-demand delivery platform integrated with
                                    UberRush/PostMates systems to our SMB clients. SMBs can opt...</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Shipping & Mailing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.shipminders.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/Shipminders logo.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Shipminders</h4>
                                <p>A calendar integration app that saves shipping costs</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Shipping & Mailing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.esellerprime.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/3_eseller.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>E SellerPrime </h4>
                                <p>ESellerPrime aims to empower a million sellers in data driven
                                    decisions to source, analyze and sell in multiple geographies...</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    E Commerce
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.syncnship.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/10_sync.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Sync n Ship</h4>
                                <p>The solution integrates the eCommerce Portals like Shopify, Magento,
                                    Woocommerce, Prestashop, Amazon etc...</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    E Commerce
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.onlinerepumanage.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/4_Repumanage.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Onlinerepumanage</h4>
                                <p>Online reputation management solution</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Marketing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.adooapp.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/1_Adoo.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Adoo</h4>
                                <p>Smart Contacts and New Customer Aquisition App for SMBs</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Marketing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.audiencekart.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/2_Audicart.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Audiencekart</h4>
                                <p>Smart Audience connects SMBs such as small retail business owner,
                                    online retail business, hyperlocal food delivery business...</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Marketing
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.shipticketdesk.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/9ship.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Shipticketdesk</h4>
                                <p>FreshDesk help desk automation plugin for SendPro C Series
                                    devices</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Customer Support
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-box">
                        <a href="http://www.selfservebot.com" target="_blank">
                            <div class="link-heading">
                                <div class="icon">
                                    <img src="images/logos/7selfserveboat.png">
                                </div>
                            </div>
                            <div class="link-body">
                                <h4>Selfserve Bot</h4>
                                <p>It enables the user to do shipping and tracking through chatbots.</p>
                            </div>
                            <div class="link-footer">
                                <div class="badge">
                                    Customer Support
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="viewSMBBtn displayFlex flex-center"><a href="http://pbsmbapps.com" target="_blank" class="magenta-btn">View
        PB SMB AppStore</a></div>

</section>

<script type="text/ng-template" id="videoModal.html">

    <i class="nc-icon-mini ui-1_simple-remove close-btn" ng-click="close();"></i>
    <div class="modal-body">

        <div class="video" style="width: 1081px;height: 636px;">
            <div class="videoContainer" style="width: 100%;height: 100%;">
                <iframe src="https://preprod.rtcvid.net/smbsurvey/embed-iframe.php" style="width: 100%;height: 100%;">
                </iframe>
            </div>

        </div>
    </div>
</script>